<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <param command="$(find xacro)/xacro '$(find ISS_hospital)/urdf/m2wr.xacro'" name="robot_description"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" value="$(find exercise2)/worlds/mybot.world"/>-->
    <!-- <arg name="world_name" value="$(find ISS_hospital)/worlds/full_world.world"/> -->
    <arg name="world_name" value="$(find aws_robomaker_hospital_world)/worlds/hospital.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
 
  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model m2wr -x 0.1 -y 13 -z 0.1 -R 0 -P 0 -Y 0" />

</launch>
